{% extends 'base.html.twig' %}

{% block title %}Pannel Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../public/styles/admin.css">
{% endblock %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}

    <div class="dashboard">

        <div class="card ml-2 mr-2">
            <div class="card-body">
                <h5 class="card-title">Nombre d'utilisateurs </h5>
                <p>{{ nbUsers }}</p>
                <a href="{{ path('manageUser') }}" class="btn btn-primary">Gérer</a>
            </div>
        </div>

        <div class="card ml-2 mr-2">
            <div class="card-body">
                <h5 class="card-title">Nombre de Postes </h5>
                <p>{{ nbPosts }}</p>
                <a href="#" class="btn btn-primary">Gérer</a>
            </div>
        </div>

        <div class="card ml-2 mr-2">
            <div class="card-body">
                <h5 class="card-title">Nombre de Spots </h5>
                <p>{{ nbSpots }}</p>
                <a href="{{ path('manageSpots') }}" class="btn btn-primary">Voirs les Spots</a>
            </div>
        </div>

        <div class="card ml-2 mr-2">
            <div class="card-body">
                <h5 class="card-title">Type de plages</h5>
                <p>{{ nbBeaches }}</p>
                <a href="{{ path('manageBeachType') }}" class="btn btn-primary">Gérer</a>
            </div>
        </div>


{% endblock %}
