{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <link rel="stylesheet" href="../../public/styles/admin.css">

    {% include 'admin/navbar.html.twig' %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Type</th>
            <th scope="col">Commandes</th>
        </tr>
        </thead>

        {% set num = 0 %}

        {% for beach in beaches.items %}
            {% set num = num + 1 %}
            <tbody>
            <tr>
                <th scope="row">{{ num }}</th>
                <td>{{ beach.nom }}</td>
                <td>
                    <a href="{{ path( 'updateBeach',  {'id': beach.id} ) }}" class="btn btn-info">Modifier</a>
                    <a href="{{ path( 'delBeach',  {'id': beach.id} ) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    <a href="{{ path( 'addBeach') }}" class="btn btn-primary">Ajouter</a>

    <div class="paginator">
        {{ knp_pagination_render(beaches) }}
    </div>


{% endblock %}
