<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link href="{{ asset("styles/index.css") }}" rel="stylesheet">
    <link href="{{ asset("styles/utilisateur.css") }}" rel="stylesheet">
    <link href="{{ asset("styles/consumable.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset("lib/bootstrap.min.css")}}" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset("lib/jquery-3.5.1.slim.min.js") }}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
<script src="{{ asset("lib/bootstrap.bundle.min.js") }}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous" defer></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
